<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">WeBsHoP</a>
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="../WebShop/home_page.html">Home</a></li>
          <li class="nav-item dropdown">
    
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                              Options
                                       </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="../WebShop/items.html">Add an item</a></li>
            </ul>
          </li>
        </ul>
    
        <form class="form-inline">
    
          <input type="text" class="form-control mr-sm-2" placeholder="Search">
          <button type="submit" class="btn btn-success">Search</button>
        </form>
      </nav>
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Title</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Category</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Devise</option>
              <option>Furniture</option>
              <option>Gaming</option>
              <option>Transport</option>
              <option>Books</option>
            </select>
        </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">Upload an image</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1" accept='image/*'>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>
