{% extends "layout.html" %}

{% block main_content %}
<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Category</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Devise</option>
            <option>Furniture</option>
            <option>Gaming</option>
            <option>Transport</option>
            <option>Books</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Upload an image</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" accept='image/*'>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}