<!DOCTYPE html>
<html>

<head>
    <style>
        .second-block{
            background: red;
        }
    </style>
</head>

<body>
    <header>
        <div class="container">
            <h1 class="logo">Cool website</h1>
            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>

    <div class="second-block">
        {% block content2 %}
        {% endblock %}
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>